.project {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    background-color: rgb(9 9 14 / 94%);
}
.project  h4{
    color: rgb(6, 226, 226);
    font-weight: 500;
    text-transform: capitalize;
    height: 40px;

}
.gif-container {
    padding: 10px;
    overflow: hidden;
    width: 120px;
}

.gif-box {
    height: 100px;
    width: 100px;
    display: flex;
    column-gap: 4px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 30px;
    animation: box infinite linear 2s;
    margin-bottom: 20px;
}




.gif-box .dot {
    background-color: rgb(11, 205, 205);
    height: 7px;
    width: 7px;
    animation: dot infinite linear 300ms;
    border-radius: 50px;
}


.gif-box .one {
    border: 2px solid rgb(9, 139, 209);
    animation: one infinite linear 1000ms;
    height: 75px;
    width: 20px;
    border-radius: 80%;
    border-left: none;
    position: absolute;

}

.gif-box .two {
    border: 2px solid rgb(7, 125, 146);
    animation: two infinite linear 500ms;
    height: 75px;
    width: 20px;
    border-radius: 80%;
    position: absolute;
    border-left: none;
    border-right: none;
}

.gif-box .three {
    border: 1px solid rgb(11, 146, 183);
    border-left: none;
    animation: three infinite linear 1000ms;
    height: 75px;
    width: 20px;
    border-radius: 80%;
    position: absolute;

}

.projects-container {
    width: 90vw;
    max-width: 50rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 200px));
    height: 100%;
    place-content: center;
    gap: 15px;
}


@keyframes one {

    100% {
        transform: rotate(360deg);

    }
}

@keyframes two {

    100% {
        transform: rotatey(-360deg);
    }
}

@keyframes three {

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes box {

    100% {
        transform: rotate(360deg);
    }
}